.goods_detail {
    padding-bottom: 100rpx;
    .detail_swiper {
        height: 400rpx;
        image {
            width: 100%;
        }
    }
    .goods_price {
        height: 100rpx;
        background: linear-gradient(90deg,#DE3060,#F36E30);
        color: #fff;
        display: flex;
        align-items: center;
        padding-left: 20rpx;
        display: flex;
        justify-content: space-between;
        .price {
            font-size: 48rpx;
        }
        .info-r {
            display: flex;
            height: 100%;
            align-items: flex-end;
            padding-bottom: 20rpx;
            text {
              font-size: 24rpx;
              padding: 0 10rpx;
            }
            
        }
    }
    .goods_name {
        font-size: 32rpx;
        color:#262626;
        font-weight: bold;
        padding: 20rpx;
    }
}